version: '3'

services:
  app:
    build: .

    depends_on:
      - db

    environment:
      - POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
      - POSTGRES_DB=netflix_test_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root123
      - POSTGRES_HOST=db
#      - POSTGRES_PORT=5430
#    ports:
#      - 8000:8000

  db:
    image: postgres:9.6
    environment:
     - POSTGRES_DB=netflix_test_db
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=root123

    ports:
      - 5432:5430
    volumes:
      - ./data/db:/var/lib/postgresql/data













#services:
#  db:
#    image: postgres
#    volumes:
#      - ./data/db:/var/lib/postgresql/data
#    environment:
#      - POSTGRES_DB=netflix_test_db
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=root123
#    ports:
#      - 5432:5432
#  web:
#    build: .
#    command: python manage.py runserver 0.0.0.0:8000
#    volumes:
#      - .:/code
#    ports:
#      - "8000:8000"
#    environment:
#      - POSTGRES_NAME=netflix_test_db
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=root123
#    depends_on:
#      - db








#version: "3"
#
#services:
#  app:
#    build: .
#    depends_on:
#      - db
#    environment:
#      - POSTGRES_HOST=db
#      - POSTGRES_DB=postgres
#    ports:
#      - :8000
#  db:
#    image: postgres:14
#    environment:
#      - POSTGRES_DB=netflix_test_db
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=roo123
#    ports:
#      - "5432:5432"
#    volumes:
#      - /data/db:/var/lib/postgresql/data
