  name: Music API CI

  on: [push]

  jobs:
    run-tests:
      services:
        postgres:
          image: postgres:9.6
          env:
            POSTGRES_DB: netflix_test_db
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: root123
          ports:
            - 5432:5432
      runs-on: ubuntu-latest
      env:
        DJANGO_SETTINGS_MODULE: config.settings
      steps:
        - uses: action/checkout@v2
        - uses: action/setup-python@v2
          with:
            python-version: 3.10
        - name: Install Requirements
          run: pip install -r requirements.txt
        - name: Run Tests
          run: pytest